<header>
    <div class="banner">
        <h5 class="banner-title">Solicitud de empleo</h5>
    </div>
</header>
<main>
    <section>
        <div class="grid">
            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Datos Personales" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>

            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Documentación" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>

            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Estado de Salud y Hábitos Personales" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>

            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Datos Familiares" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>

            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Escolaridad" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>

            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Conocimientos Generales" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>

            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Empleo Actual y Anteriores" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>

            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Referencias Personales" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>

            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Datos Generales" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>
            
            <div class="col-6 col-offset-3 card-separation">
                <p-card header="Datos Económicos" [style]="{'font-size': '1.3rem', 'font-weight': 'normal'}">
                    <div class="fields-in-column">
                        <div class="title-field">
                            <label class="label-properties">Nombre completo</label>
                            <input type="text" pInputText />
                        </div>
                    </div>
                </p-card>
            </div>
        </div>        
    </section>
</main>
